


<form action="/productos" method="post" class="px-auto ">
    <div class="form-control">
          
      <label for="nombre" class="label">
        <span class="label-text">Nombre</span>
      </label>

      <label class="input-group  mx-auto">
        <span>Nombre</span>
        <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="input input-bordered" type="text"/>
      </label>
    </div>

    <div class="form-control">
        
      <label for="Imagen" class="label">
        <span class="label-text">Imagen</span>
      </label>

      <label class="input-group">
        <span>Imagen</span>
        <input id="imagen" name="imagen" type="text" placeholder="Imagen" class="input input-bordered" type="text"/>
      </label>
    </div>

    <div class="form-control">
        
      <label for="stock" class="label">
        <span class="label-text">Stock</span>
      </label>

      <label class="input-group">
        <span>Stock</span>
        <input id="stock" name="stock" type="text" placeholder="Stock" class="input input-bordered" type="number"/>
      </label>
    </div>

    <div class="form-control">
        
      <label for="precio" class="label">
        <span class="label-text">Precio</span>
      </label>

      <label class="input-group">
        <span>Stock</span>
        <input id="precio" name="precio" type="text" placeholder="Precio" class="input input-bordered" type="number"/>
      </label>
    </div>

    <button class="btn btn-xs sm:btn-sm md:btn-md flex align-middle">Enviar</button>
</form>