<!DOCTYPE html>
<html lang="es">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ingreso de productos</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.19.0/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="grid grid-cols-2">
        <div class="artboard artboard-horizontal phone-2 mx-auto">
            <%- include('./formulario')-%>
        </div>
        <div class="artboard artboard-horizontal phone-2">
            
            <%- include('./historial')-%>
            
        </div> 
    </body>

    <footer>
        <%- include('./footer')-%>
    </footer>
</html>